* {
    letter-spacing: 0.2rem;
}

#git_icon {
    height: 50px;
    width: 40px;
}

body {
    padding-top: 60px;
}

.rounded_pill {
    border-radius: 10%;
    height: 71vh;
}

.search {
    height: 7vh;
    width: 70%;
    border-radius: 10px;
}

.middle {
    height: 20vh;
    border-radius: 10px;
}